{% extends "base_generic.html" %}

{% block header %}
        <script type="text/javascript">
            $(function () {
                $("#discard").click(function () {
                    window.location.href="/tasks/list.html";
                });
            });
        </script>
{% endblock %}

{% block body %}
        <h2>{% if schedule %}Schedule {{ schedule.id }}{% else %}Create Schedule{% endif %}</h2>
        <form action="?" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ schedule.id }}">
            <p>
                Repeat: <select name="repeat_id">
                    {% for repeat in all_repeats %}
                    <option value="{{ repeat.id }}"{% if schedule.repeat == repeat %} selected{% endif %}>{{ repeat.name }}</option>
                    {% endfor %}
                </select><br>
                Start Date: <input type="date" name="start_date" value="{{ schedule.start_date }}"><br>
            </p>
            <p>
                <input type="submit" value="Save">
                <input type="submit" name="closeafter" value="Save and Close">
                <input type="button" value="Close" id="discard">
            </p>
        </form>
{% endblock %}