{% extends "base_generic.html" %}

{% block header %}
        <script type="text/javascript">
            $(function() {
                $("#itemList").delegate(".completeButton", "click", function (event) {
                    var row = $(this).parents("tr").first();

                    $("#completeDialog form")[0].reset();
                    $("#completeDialog form #id_task").val(row.attr("id"));
                    $("#completeDialog :input").prop("disabled", false);
                    $("#completeDialog").insertAfter(row).toggle();
                    event.stopPropagation();
                });
                $("#itemList").delegate("tr", "click", function (event) {
                    if (this.id != "completeDialog") $(this).toggleClass("highlighted");
                });
                $("body").delegate("#submitComplete", "click", function (event) {
                    $.post("due.html", $("#completeDialog form").serialize(), function (data) {
                        if (data.indexOf("OK") == 0) {
                            if ($("#completeDialog #id_complete").is(":checked")) {
                                $("tr#" + $("#completeDialog #id_task").val()).appendTo("#itemList");
                            }
                            $("#completeDialog :input").prop("disabled", false);
                            $("#completeDialog").hide();
                        } else {
                            alert("Invalid information!");
                        }
                    });
                    $("#completeDialog :input").prop("disabled", true);
                    event.preventDefault();
                });
                $(".delButton").each(function(i, el) {
                    // change these links to use javascript
                    // this keeps it working if the browser doesn't support JS
                    $(el).data("url", el.href);
                    el.href = "javascript:void(null)";
                });
                $("body").delegate(".delButton", "click", function (event) {
                    name = $(this).parents("tr").find(".nameSpan").html();
                    if (confirm("Are you sure you want to delete " + name + "?")) {
                        window.location.href = $(this).data("url");
                    }
                });
            });
        </script>
        <style type="text/css">
            #completeDialog td {
                background-color: lightgrey;
                padding: 10px 5px;
            }
            tr td:first {
                padding-left: 5px;
            }
            tr.highlighted td {
                background-color: white;
            }
            tr.highlighted td:first-child {
                border-left: 4px solid blue;
                padding-left: 2px;
            }
            .colorIndicator {
                width: 10px;
                height: 10px;
                display: inline-block;
                float: left;
                margin-right: 5px;
            }
        </style>
{% endblock %}

{% block body %}
        <p>
            <a href="/tasks/" class="button">All</a>
            <a href="/tasks/due" class="button">Due Items Only</a>
        </p>
        <h2>Task List ({{ task_list.count }} items)</h2>
        <p>
            <a href="/tasks/add" class="button">Create New</a><br>
        </p>
        <table id="itemList">
            <tr>
                <th>Name</th>
                <th><a href="?order_by=next_date">Active</a></th>
                <th><a href="?order_by=next_due">Due</a></th>
                <th>Last Done</th>
                <th>Actions</th>
            </tr>
            {% for task in task_list %}
            <tr id="{{ task.id }}" class="{% if task.is_due %}overdue {% endif %}{% if task.is_onetime %}one-time {% endif %} task">
                <td>
                    <span class="colorIndicator">&nbsp;</span>
                    <span class="nameSpan">{{ task.name }}</span> (<span class="bold">{{ task.repeat_list_str }}</span>)<br>
                    {% for schedule in task.schedules.all %}
                        {{ schedule }}
                    {% endfor %}
                </td>
                <td>{{ task.next_date|date }}</td>
                <td>{{ task.next_due|date }}</td>
                <td>{{ task.last_done|date }}</td>
                <td>
                    <a href="/tasks/{{ task.pk }}/" class="button">Edit</a>
                    <a href="?action=delete&id={{ task.pk }}" class="button delButton">Delete</a>
                    <a href="javascript:void(null)" class="completeButton button">Post Status</a>
                </td>
            </tr>
            {% endfor %}
            <tr id="completeDialog" style="display:none">
                <td colspan="5">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ statForm }}
                        <button id="submitComplete">Post</button>
                    </form>
                </td>
            </tr>
        </table>
{% endblock %}