{% extends "base_generic.html" %}

{% block header %}
        <script type="text/javascript">
            $(function () {
                $("#discard").click(function () {
                    window.location.href="/tasks/list.html";
                });
            });
        </script>
{% endblock %}

{% block body %}
        <h2>{% if obj %}Task {{ obj.id }} -- {{ obj.name }}{% else %}Create Task{% endif %}</h2>
        <h6>{{ obj.date_created }}</h6>
        <form action="?" method="POST">
            {% csrf_token %}
            {{ form }}
            <p>
                <input type="submit" value="Save">
                <input type="submit" name="closeafter" value="Save and Close">
                <input type="button" value="Close" id="discard">
            </p>
        </form>
{% endblock %}