{% extends "base_generic.html" %}

{% block title %}{{ obj.name }}{% endblock %}

{% block header %}
        <script type="text/javascript">
            $(function () {
                $("#discard").click(function () {
                    window.location.href="/tasks/list.html";
                });
                $("body").delegate("#submitComplete", "click", function (event) {
                    event.preventDefault();
                    $.post("", $("#completeDialog form").serialize(), function (data) {
                        if (data.indexOf("OK") == 0) {
                            // TODO: make this use another row as a template
                            $("<tr id=\"" + data.substr(2) + "\"><td>"
                                + $("#id_date").val() + "</td><td>"
                                + $("#id_text").val() + "</td><td>"
                                + ($("#id_complete").is(":checked") ? "Yes" : "") + "</td><td><a href=\"?id="
                                + data.substr(2) + "&action=rmstat\" class=\"rmstat\">rm</a></td></tr>")
                                .appendTo("#statusList");
                            $("#completeDialog form")[0].reset();
                            $("#completeDialog :input").prop("disabled", false);
                        } else {
                            alert("Invalid information!");
                        }
                    });
                    $("#completeDialog :input").prop("disabled", true);
                });
                $("body").delegate(".rmstat", "click", function (event) {
                    tr = $(this).parents("tr").first();
                    
                    $.get("rmstat", {"id": tr.attr("id")}, function (data) {
                        if (data.indexOf("OK") == 0) {
                            tr.remove();
                        } else {
                            alert("failed");
                        }
                    });
                    event.preventDefault();
                });
            });
        </script>
{% endblock %}

{% block body %}
        <h2>{% if obj %}Task {{ obj.id }} -- {{ obj.name }}{% else %}Create Task{% endif %}</h2>
        <p><span class="bold">Created:</span> {{ obj.date_created|date }}</p>
        <p><span class="bold">Due:</span> {{ obj.next_date|date }}</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="mod" value="task">
            <p>
                <input type="submit" value="Save">
                <input type="submit" name="closeafter" value="Save and Close">
                <input type="button" value="Close" id="discard">
            </p>
        </form>
        <h3>Statuses</h3>
        <table id="statusList">
            <tr>
                <th>Date</th>
                <th>Text</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
            <tr id="completeDialog">
                <td colspan="4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ statForm }}
                        <input type="hidden" name="mod" value="stat">
                        <button id="submitComplete">Post</button>
                    </form>
                </td>
            </tr>
            {% for status in statuses %}
            <tr id="{{ status.id }}">
                <td>{{ status.date }}</td>
                <td>{{ status.text }}</td>
                <td>{% if status.complete %}Yes{% endif %}</td>
                <td><a href="rmstat?id={{status.id}}" class="rmstat">rm</a></td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
