{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tasks - {% block title %}Main{% endblock %}</title>
        <script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="nav"><a href="/tasks/">Tasks</a> <a href="/schedules/">Schedules</a> <a href="/repeats/">Repeats</a></div>
        {% block body %}
        <p>Welcome to this new page!  Content will arrive soon.</p>
        {% endblock %}
        {% if debug %}<div class="debug">{{ debug }}</div>{% endif %}
    </body>
</html>