{% extends "base_generic.html" %}

{% block body %}
        <h2>Repeat List</h2>
        <a href="/repeats/add" class="button">Create New</a><br>
        <table>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Month</th>
                <th>Week</th>
                <th>Day</th>
                <th>Actions</th>
            </tr>
            {% for repeat in repeat_list %}
            <tr>
                <td>{{ repeat.name }}</td>
                <td>{{ repeat.year }}</td>
                <td>{{ repeat.month }}</td>
                <td>{{ repeat.week }}</td>
                <td>{{ repeat.day }}</td>
                <td>
                    <a href="/repeats/{{ repeat.pk }}/">Edit</a>
                    <a href="/repeats/{{ repeat.pk }}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}